body {
    font-family: 'Gothic A1', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    cursor: url('images/ghost-cursor.png'), auto;
}

header, nav, main, footer {
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #5D5C61;
}

#factButton {
    background-color: #7393B3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#factButton:hover {
    background-color: #557A95;
}

.button-ghost {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.button-ghost:hover {
    background: rgba(255, 255, 255, 0.2);
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}

.social-icon {
    width: 50px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.ghost-img {
    max-width: 200px;
    opacity: 0.8;
}

